baseURL: ""
title: Monal
paginate: 5
theme: hugo-PaperMod

imaging:
  resampleFilter: Linear
  #resampleFilter: MitchellNetravali (Cubic filter for alternative)
  hint: picture
  exif:
    disableDate: true
    disableLatLong: true
    excludeFields: ".*"
    #includeFields: "" (To improve performance and decrease cache size, we need to set neither excludeFields nor includeFields)

params:
    env: production
    description: "Monal IM - https://github.com/monal-im/monal"
    author: "Monal IM"
    # author: ["Me", "You"] # multiple authors

    ShowFullTextinRSS: true
    ShowRssButtonInSectionTermList: true
    tocopen: false
    ShowToc: false
    comments: false
    hidemeta: false
    searchHidden: false

    defaultTheme: auto
    DateFormat: "02.01.2006"
    disableThemeToggle: false
    ShowShareButtons: false
    ShowReadingTime: true
    disableSpecial1stPost: true
    displayFullLangName: true
    ShowPostNavLinks: false
    ShowBreadCrumbs: false
    ShowCodeCopyButtons: true
    disableScrollToTop: false
    rss: true
    hideSummary: false
    enableInlineShortcodes: true
    enableRobotsTXT: true
    buildDrafts: false
    buildFuture: false
    buildExpired: false
    enableEmoji: true

    socialIcons:
        - name: github
          url: "https://github.com/monal-im/monal"
        - name: email
          url: "mailto:info@monal-im.org"
        - name: liberapay
          url: "https://liberapay.com/tmolitor"
        - name: mastodon
          url: "https://fosstodon.org/@Monal"
        - name: rss
          url: "index.xml"
        #- name: other
        #  url: ""

menu:
    main:
        - identifier: Install
          name: Install
          url: /install/
          weight: 1
        - identifier: Support
          name: "Support"
          url: /support/
          weight: 2
        - identifier: Blog
          name: Blog
          url: /post/
          weight: 3
        - identifier: Privacy
          name: "Privacy"
          url: /privacy/
          weight: 4
        - identifier: About
          name: "About"
          url: /about/
          weight: 5
        - identifier: FAQ
          name: "FAQ"
          url: https://github.com/monal-im/Monal/wiki/FAQ---Frequently-Asked-Questions
          weight: 6
        #- identifier: Archive
        #  name: Archive
        #  url: /archives/
        #  weight: 7
        - identifier: Search
          name: "Search \U0001f50d"
          url: /search/
          weight: 8

minify:
    disableXML: false
    minifyOutput: true

languages:
    en:
        languageName: ":gb:"
        languageAltTitle: "English"
        showInHeader: false
        weight: 0
        profileMode:
            enabled: true
            title: "Monal IM"
            subtitle: "iOS and macOS XMPP Chat-Client"
            imageUrl: "favicons/logo.png"
            imageTitle: "Monal App Icon"
            imageWidth: 120
            imageHeight: 120
            buttons:
                - name: "Get Monal iOS"
                  url: "https://apps.apple.com/app/id317711500"
                - name: "Get Monal macOS"
                  url: "https://apps.apple.com/app/id1637078500"
            indexPostContentFile: "/content/home.md"

    de:
        languageName: ":de:"
        languageAltTitle: Deutsch
        showInHeader: false
        weight: 1
        profileMode:
            enabled: true
            title: "Monal IM"
            subtitle: "IOS und MacOS Chatten"
            imageUrl: "favicons/logo.png"
            imageTitle: "Monal App Icon"
            imageWidth: 120
            imageHeight: 120
            buttons:
                - name: "Monal für iOS Herunterladen"
                  url: "https://apps.apple.com/app/id317711500"
                - name: "Monal für macOS Herunterladen"
                  url: "https://apps.apple.com/app/id1637078500"

outputs:
    home:
        - HTML
        - RSS
        - JSON

    editPost:
        URL: "https://github.com/monal-im/monal-im.org/tree/staging/content"
        Text: "Suggest Changes"
        appendFilePath: true

    assets:
        disableHLJS: true
        disableFingerprinting: false

    cover:
        hidden: false
        hiddenInList: false
        hiddenInSingle: true

taxonomies:
    category: categories
    tag: tags
    series: series

markup:
    goldmark:
        renderer:
            unsafe: true

privacy:
    vimeo:
        disabled: true
        simple: true

    twitter:
        disabled: true
        enableDNT: true
        simple: true

    instagram:
        disabled: true
        simple: true

    youtube:
        disabled: true
        privacyEnhanced: true

services:
    instagram:
        disableInlineCSS: true
    twitter:
        disableInlineCSS: true
