baseURL: "" # We will enter the FULL_URL after the site is published. So it's empty now
title: Monal
paginate: 5
theme: hugo-PaperMod

enableInlineShortcodes: true
enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
enableEmoji: true

minify:
    disableXML: false
    minifyOutput: true

languages:
    en:
        languageName: ":gb:"
        languageAltTitle: "English"
        showInHeader: true
        weight: 0
        profileMode:
            enabled: true # needs to be explicitly set
            title: "Monal IM"
            subtitle: "iOS and macOS XMPP Chat-Client"
            imageUrl: "favicons/ms-icon-310x310.png" # optional
            imageTitle: "Monal App Icon" # optional
            imageWidth: 120 # custom size
            imageHeight: 120 # custom size
            buttons:
                - name: "Get Monal iOS"
                  url: "https://apps.apple.com/app/id317711500"
                - name: "Get Monal macOS"
                  url: "https://apps.apple.com/app/id1637078500"
            indexPostContentFile: "/content/home.md"
        menu:
            main:
                - identifier: Features
                  name: Features
                  url: /features/
                  weight: 1
                - identifier: Install
                  name: Install
                  url: /install/
                  weight: 2
                - identifier: Support
                  name: "Support"
                  url: /support/
                  weight: 3
                - identifier: Donate
                  name: "Donate"
                  url: /donate/
                  weight: 4
                - identifier: Privacy
                  name: "Privacy"
                  url: /privacy/
                  weight: 5
                - identifier: About
                  name: "About"
                  url: /about/
                  weight: 6
                - identifier: Blog
                  name: Blog
                  url: /post/
                  weight: 7
                - identifier: Archive
                  name: Archive
                  url: /archives/
                  weight: 8
                - identifier: Search
                  name: "Search \U0001f50d"
                  url: /search/
                  weight: 9

    de:
        languageName: ":de:"
        languageAltTitle: Deutsch
        showInHeader: false
        weight: 1
        profileMode:
            enabled: true # needs to be explicitly set
            title: "Monal IM"
            subtitle: "IOS und MacOS Chatten"
            imageUrl: "favicons/ms-icon-310x310.png" # optional
            imageTitle: "Monal App Icon" # optional
            imageWidth: 120 # custom size
            imageHeight: 120 # custom size
            buttons:
                - name: "Monal für iOS Herunterladen"
                  url: "https://apps.apple.com/app/id317711500"
                - name: "Monal für macOS Herunterladen"
                  url: "https://apps.apple.com/app/id1637078500"
        menu:
            main:
                - identifier: Funktion
                  name: Funktion
                  url: ../features/
                  weight: 1
                - identifier: Downloads
                  name: Downloads
                  url: ../install/
                  weight: 2
                - identifier: Hilfe
                  name: "Hilfe"
                  url: ../support/
                  weight: 3
                - identifier: Spende
                  name: "Spende"
                  url: ../donate/
                  weight: 4
                - identifier: Datenschutz
                  name: "Datenschutz"
                  url: ../privacy/
                  weight: 5
                - identifier: Impressum
                  name: "Impressum"
                  url: ../about/
                  weight: 5
                - identifier: Blog
                  name: "Blog"
                  url: ../post/
                  weight: 6
                - identifier: Archiv
                  name: Archiv
                  url: ../archives/
                  weight: 7
                - identifier: Suche
                  name: "Suche \U0001f50d"
                  url: ../search/
                  weight: 8

    tr:
        languageName: ":tr:"
        languageAltTitle: Turkish
        weight: 3
        profileMode:
            enabled: true # needs to be explicitly set
            title: "Monal IM"
            subtitle: "IOS ve MacOS'da Chat"
            imageUrl: "favicons/ms-icon-310x310.png" # optional
            imageTitle: "" # optional
            imageWidth: 120 # custom size
            imageHeight: 120 # custom size
            buttons:
                - name: Monal iOS
                  url: "https://apps.apple.com/app/id317711500"
                - name: Monal macOS
                  url: "https://apps.apple.com/app/id1637078500"
        menu:
            main:
                - identifier: Özellikler
                  name: Özellikler
                  url: ../features/
                  weight: 1
                - identifier: İndirmeler
                  name: İndirmeler
                  url: ../install
                  weight: 2
                - identifier: Destek
                  name: "Destek"
                  url: ../support
                  weight: 3
                - identifier: Bağış
                  name: "Bağış"
                  url: ../donate
                  weight: 4
                - identifier: Gizlilik
                  name: "Gizlilik"
                  url: ../privacy
                  weight: 5
                - identifier: Blog
                  name: Blog
                  url: ../post/
                  weight: 6
                - identifier: Arşiv
                  name: "Arşiv"
                  url: ../archives/
                  weight: 7
                - identifier: Ara
                  name: "Ara \U0001f50d"
                  url: ../search/
                  weight: 8

outputs:
    home:
        - HTML
        - RSS
        - JSON

params:
    env: production # to enable google analytics, opengraph, twitter-cards and schema.
    description: "Monal IM - https://github.com/monal-im/monal"
    author: "Monal IM"
    # author: ["Me", "You"] # multiple authors


    tocopen: false
    ShowToc: false
    comments: false
    hidemeta: false
    searchHidden: false

    defaultTheme: auto
    DateFormat: "02.01.2006"
    disableThemeToggle: false
    ShowShareButtons: false
    ShowReadingTime: true
    disableSpecial1stPost: true
    displayFullLangName: true
    ShowPostNavLinks: false
    ShowBreadCrumbs: false
    ShowCodeCopyButtons: true
  
    images: ["papermod-cover.png"]
    disableScrollToTop: false
    rss: true
    hidemeta: false
    hideSummary: false
    tocopen: false

    socialIcons:
        - name: github
          url: "https://github.com/monal-im/monal"
        - name: email
          url: "mailto:info@monal-im.org"
        - name: liberapay
          url: "https://liberapay.com/tmolitor"
        - name: mastodon
          url: "https://fosstodon.org/@Monal"
        - name: rss
          url: "index.xml" # When site published
        #- name: other
        #  url: ""

    editPost:
        URL: "https://github.com/monal-im/monal-im.org/tree/master/content"
        Text: "Suggest Changes" # edit text
        appendFilePath: true # to append file path to Edit link

    assets:
        disableHLJS: true # to disable highlight.js
        disableFingerprinting: true
        favicon: "favicons/favicon.ico"
        favicon16x16: "favicons/favicon-16x16.png"
        favicon32x32: "favicons/favicon-32x32.png"
        favicon96x96: "favicons/favicon-96x96.png"
        manifest: "favicons/manifest.json"
        browserconfig: "favicons/browserconfig.xml"
        android_icon: "favicons/android-icon-144x144.png"
        ms_icon: "favicons/ms-icon-310x310.png"
        apple_touch_icon: "favicons/apple-icon-144x144.png"
        safari_pinned_tab: "favicons/apple-icon-precomposed.png"

    cover:
        hidden: false # hide everywhere but not in structured data
        hiddenInList: false # hide on list pages and home
        hiddenInSingle: true # hide on single page

    #fuseOpts:
    #    isCaseSensitive: false
    #    shouldSort: true
    #    location: 0
    #    distance: 1000
    #    threshold: 0.4
    #    minMatchCharLength: 0
    #    keys: ["title", "permalink", "summary", "content"]

taxonomies:
    category: categories
    tag: tags
    series: series

markup:
    goldmark:
        renderer:
            unsafe: true

privacy:
    vimeo:
        disabled: true
        simple: true

    twitter:
        disabled: true
        enableDNT: true
        simple: true

    instagram:
        disabled: true
        simple: true

    youtube:
        disabled: true
        privacyEnhanced: true

services:
    instagram:
        disableInlineCSS: true
    twitter:
        disableInlineCSS: true
