{{ $img := resources.GetMatch (.Get "src") }}

{{- $ws := uniq (slice 240 300 360 420 480 600 768 800 960 1024 1080 1200 1366 1440 1920 $img.Width) -}}

{{- $srcset := slice -}}
{{ range sort $ws }}
  {{ if (le . $img.Width) }}
    {{ $w := printf "%dx webp q50" . }}
    {{ $url := printf "%s %dw" (($img.Resize $w).RelPermalink | absURL | safeURL) . }}
    {{ $srcset = $srcset | append $url }}
  {{ end }}
{{ end }}

{{ $set := delimit $srcset "," }}


{{ $alt := .Get "alt" }}
{{ $title := cond (not (.Get "title")) $alt (.Get "title") }}

<figure>
  <div class="img-box">
    <center>
    <img
      srcset="{{ $set }}"
      sizes="(max-width: 200px) 240px 300px 360px 420px,
      (max-width: 400px) 200px 240px 300px 360px 420px 480px 600px 768px 800px,
      (max-width: 600px) 200px 240px 300px 360px 420px 480px 600px 768px 800px 960px 1024px 1080px 1200px,
      (max-width: 800px) 200px 240px 300px 360px 420px 480px 600px 768px 800px 960px 1024px 1080px 1200px 1366px 1440px 1920px,
      (max-width: 1000px)200px 240px 300px 360px 420px 480px 600px 768px 800px 960px 1024px 1080px 1200px 1366px 1440px 1920px,
      200px 240px 300px 360px 420px 480px 600px 768px 800px 960px 1024px 1080px 1200px 1366px 1440px 1920px 100vw"

      src="{{ $img.RelPermalink | absURL | safeURL }}" alt="{{ $alt | safeHTML }}" title="{{ $title | safeHTML }}"/>
      </center>
  </div>
  <figcaption>{{$alt | safeHTML }}</figcaption>
</figure>
