{{ $url := "https://raw.githubusercontent.com/monal-im/Monal/stable/monal.doap" }}
{{ with resources.GetRemote $url | transform.Unmarshal }}
<table>
    <thead>
        <tr>
            <th>XEP</th>
            <th>Status</th>
            <th>Since</th>
        </tr>
    </thead>
    {{ range .Project.implements }}
        {{ if and (ne (index .SupportedXep.xep "-resource") "" ) (or (eq .SupportedXep.status "complete") (eq .SupportedXep.status "partial") ) }}
            <tr>
                <td>
                    <a href="{{ index .SupportedXep.xep "-resource" }}">
                        {{ $dirFile := path.Split (index .SupportedXep.xep "-resource") }}
                        {{ with resources.GetRemote (printf "%s%s.xml" $dirFile.Dir (path.BaseName $dirFile.File)) | transform.Unmarshal }}
                            XEP-{{ .header.number }}: {{ .header.title }}
                        {{ end }}
                    </a>
                    {{ if (default .SupportedXep.note) }}
                        <br>{{ .SupportedXep.note }}
                    {{ end }}
                </td>
                <td>{{ .SupportedXep.status }}</td>
                <td>{{ .SupportedXep.since }}</td>
            <tr>
        {{ end }}
    {{ end}}
</table>
{{ end }}
