{{ $url := "https://raw.githubusercontent.com/monal-im/Monal/develop/monal.doap" }}
{{ with resources.GetRemote $url | transform.Unmarshal }}
<table>
    <thead>
        <tr>
            <th>XEP</th>
            <th>Status</th>
            <th>Since</th>
        </tr>
    </thead>
    {{ range .Project.implements }}
        {{ if and (ne (index .SupportedXep.xep "-resource") "" ) (ne .SupportedXep.status "wontfix") (ne .SupportedXep.status "planned") }}
            <tr>
                <td>
                    <a href="{{ index .SupportedXep.xep "-resource" }}">
                        {{ path.BaseName (index .SupportedXep.xep "-resource") }}
                    </a>
                    {{ if (default .SupportedXep.note) }}
                        <br>{{ .SupportedXep.note }}
                    {{ end }}
                </td>
                <td>{{ .SupportedXep.status }}</td>
                <td>{{ .SupportedXep.since }}</td>
            <tr>
        {{ end }}
    {{ end}}
</table>
{{ end }}
