{{ $url := "https://raw.githubusercontent.com/monal-im/Monal/develop/monal.doap" }}
{{ with resources.GetRemote $url | transform.Unmarshal }}
<table>
    <thead>
        <tr>
            <th>XEP</th>
            <th>Status</th>
        </tr>
    </thead>
    {{ range .Project.implements }}
        {{ if and (default .SupportedXep.note) (eq .SupportedXep.status "planned") }}
            <tr>
                <td>
                    <a href="{{ index .SupportedXep.xep "-resource" }}">
                        {{ .SupportedXep.note }}
                    </a>
                </td>
                <td>{{ .SupportedXep.status }}</td>
            <tr>
        {{ end }}
    {{ end}}
</table>
{{ end }}
