{{ $paramValue := index .Page.Params (.Get 0) }}                                                <!-- Retrieve the parameter value -->

{{ if $paramValue }}
  {{ $image := resources.GetRemote $paramValue.img_url }}                                       <!-- Get the remote image using the URL from the parameter value -->
  {{ $imgTitle := cond (not $paramValue.img_title) (.Get "title")  $paramValue.img_title }}     <!-- Get the image title from the parameter value -->
  <img src="{{ $image.RelPermalink | absURL | safeURL }}" title="{{ $imgTitle | safeHTML }}">   <!-- Serve the image with the title -->
{{ else }}
  {{ $image := resources.GetRemote (.Get 0) }}                                                  <!-- Get the remote image using the first argument passed to the shortcode -->
  {{ $alt := .Get "alt" }}                                                                      <!-- Get the alt text from the shortcode arguments -->
  {{ $imgTitle := cond (not ($alt)) (.Get "title")  $alt }}                                     <!-- Set the title to the argument title if it exists, otherwise use the alt text -->
  <img src="{{ $image.RelPermalink | absURL | safeURL }}" title="{{ $imgTitle | safeHTML }}">   <!-- Output the image with the appropriate title -->
{{ end }}